
\.idea/

local_db_dump2\.sql

Code-Critters\.iml

target/

src/main/resources/static/bower_components/

src/main/resources/static/node_modules/

src/main/resources/static/package-lock\.json

src/main/resources/static/yarn-error\.log

src/main/resources/static/yarn\.lock

temp/

src/main/resources/static/**/*\.psd
